
@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes mistMove {
  0% {
    transform: translate(-5%, -5%) scale(1);
  }
  100% {
    transform: translate(5%, 5%) scale(1.1);
  }
}

.host-grotesk {
  font-family: 'Host Grotesk', sans-serif;
}

@import "./mistbackground.css";