
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');



@import 'tailwindcss';
@source "../../**/*.{js,ts,jsx,tsx}";


/* Default site font */
@layer base {
  html {
    font-family: 'Host Grotesk', system-ui, sans-serif;
  }
}


@import 'tw-animate-css';
